/* Font and Body Style start */
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    max-width: 1280px; ;
    margin: 0 auto;
    padding: 0;
    
}
/* font and body style end */

/* Nav and Banner section start */
header{
    background-image: url(images/Hero-bg.png);
}

.nav_container {
    width: 80%;
    margin:0 auto;
    padding: 20px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav_h1{
color: #4E47FF ;
font-size: 34px;
font-weight: 900;
}
.nav_btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
}
.banner_container{
    width: 80%;
    margin: 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner_h1{
    font-size: 60px;
    color: #252432;
    
}
.banner_btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    font-weight: 700;
}
/* Nav and Banner section end */

/* action Section start */
.action_container{
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.action_h1{
    font-size: 40px;
    color: #252432;
    font-weight: 700;
    line-height: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}
.action_p{
    font-size: 18px;
    color: rgba(37, 36, 50, 0.50);
    line-height: 1.5;
}
.action_btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    font-weight: 700;
}
.action_image_container{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.action_image{
   border: none;
   border-radius: 40px;
}
/* action Section end */

/* Productive User Section start */
.productive{
    width: 80%;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 100px auto;
    border-radius: 20px;
}
.productive_user_container {
    padding: 50px 80px;
    
}
.productive_h1 {
    font-size: 38px;
    color: rgba(37, 36, 50, 1);
    font-weight: 700;
    line-height: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}
.User_Counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.user_counter_h1 {
    font-size: 80px;
    color: #4E47FF;
    font-weight: 700;
    margin: 0;
}
.user_counter_p {
    font-size: 20px;
    color: rgba(0,0,0, 0.50);
    margin: 0;
}
/* Productiive user Section end */