/* Font and Body Style start */
.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    max-width: 1280px; ;
    margin: 0 auto;
    padding: 0;
    background-color: #F5F8FF;    
}
/* font and body style end */

/* Nav and Banner section start */
header{
    background-image: url(images/Hero-bg.png);
}

.nav_container {
    width: 80%;
    margin:0 auto;
    padding: 20px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav_h1{
color: #4E47FF ;
font-size: 34px;
font-weight: 900;
}
.nav_btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    font-weight: 700;
}
.banner_container{
    width: 80%;
    margin: 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner_h1{
    font-size: 60px;
    color: #252432;
    
}
.banner_btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    font-weight: 700;
}
/* Nav and Banner section end */

/* action Section start */
.action_container{
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action_text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.action_h1{
    font-size: 40px;
    color: #252432;
    font-weight: 700;
    line-height: normal;
    margin-block-start: 0;
    margin-block-end: 0;
}
.action_p{
    font-size: 18px;
    color: rgba(37, 36, 50, 0.50);
    line-height: 1.5;
}
.action_btn{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    font-weight: 700;
}
.action_image_container{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.action_image{
   border: none;
   border-radius: 40px;
}
/* action Section end */

/* Productive User Section start */
.productive{
    width: 80%;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 100px auto;
    border-radius: 20px;
}
.productive_user_container {
    padding: 50px 80px;
    
}
.productive_h1 {
    font-size: 38px;
    color: rgba(37, 36, 50, 1);
    font-weight: 700;
    line-height: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}
.User_Counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user_counter_h1 {
    font-size: 80px;
    color: #4E47FF;
    font-weight: 700;
    margin: 0;
}
.user_counter_p {
    font-size: 20px;
    color: rgba(0,0,0, 0.50);
    margin: 0;
}
/* Productive user Section end */

/* What our users say Section start */
.users_say_section{
    width: 80%;
    margin: 100px auto;
}
.users_say_h1{
    color: #252432;
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.card_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 20px;
}
.user_card {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}
.card_h2 {
    font-size: 24px;
    color: #252432;
    font-weight: 700;
    margin: 20px 0 10px;
}
.card_p {
    font-size: 16px;
    color: #1E1E1E;
    margin-block-start: 0;
    margin-block-end: 0;
    
    
}
.card_person {
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.card-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.card_person_name{
    margin-block-start: 0;
    margin-block-end: 0;
    
}
.card_date {
    font-size: 14px;
    color: #B3B3B3;
}
.card_date {
    font-size: 14px;
    color: #B3B3B3;
    margin-block-start: 0;
    margin-block-end: 0;
}
/* What our users say Section end */

/* Form section start */
.form_section {
    width: 80%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.form_h1 {
    font-size: 80px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    line-height: normal;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 50%;
    font-weight: 700;
}
.contact_form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form_group {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    gap: 10px;

}
.form_input {
    padding: 20PX 32px;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    font-size: 16px;
    color: #1E1E1E;
    background-color: #FFFFFF;
    transition: border-color 0.3s;
}
.form_input {
    outline: none;
    border-color: #D6DDED;
}
.form_label{
    color:rgba(0, 0, 0, 1);
    font-weight: 500;
    
}
.form_btn{
    background-color: #4E47FF;
    color: white;
    padding: 20px 36px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
 /* Form section end */

/* Footer section start */
footer {
    background-color: white;
    padding: 100px 0;
}
.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
}
.footer_h1 {
    font-size: 80px;
    color: #4E47FF;
    font-weight: 900;
    margin-block-start: 0;
    margin-block-end: 0;
    
}
.footer_p {
    font-size: 16px;
    color: #8987A1;
    margin: 0;
}
.footer_link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
.footer_link a {
    color: #8987A1;
    text-decoration: none;
    font-size: 16px;
}
/* footer section end */

/* hover style */
.nav_btn:hover,
.banner_btn:hover,
.action_btn:hover,
.form_btn:hover {
    background-color: #2E8B57;
    border: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}